/* Inserte su codigo aqui */
.container-fluid {
	margin: 0 auto;
	width: 90%;
}
.encabezado {
	background:#FCCE09;
	height: px;

}
a {text-decoration: none;}
.title{
	margin-top: 50px;
}
.w-100{
	width: 100%;
}
.title h4 {
	display: inline-block;
	padding: 10px 60px 10px 10px;
	color: white;
	background: #FCBA43;
	font-weight: normal;
}
.header-nav ul {
	list-style-type: none;
	margin: 20px;
}
.header-nav ul li {
		display: inline-block;
}
.header-nav ul li a{
	padding: 10px;
	color: white;
}
.logo {
	text-align: center;
}
.centrando{
	position: relative;
	height: 600px;
}
.logo {
	position: absolute;
	width:200px;
	height: 60px; 
	text-align:center;
	top:50%; 
 	margin-top:-32px;
  	left: 50%; 
  	margin-left:-102px;
  	color: white;
}
.centro {
	background: #FCCE09;
	width: 100%
}
.main-1 {
	padding-top: 30px;
	background: #EAEBE8;
}

.cuadro .row {
	padding-top: 20px;
	padding-bottom: 20px;
}
.contenedor {
	width: 458px;
	height: 500px;
	background: #FFFFFF;
	display: inline-block;
	padding-top: 20px;

}
.cuadro .row  .contenedor:first-child{
	margin-right: 20px;
}
.cuadro .row  .contenedor:last-child{
	margin-left: 20px;
}
.box {
	width: 300px;
	height: 300px;
	background: #CCCCCC;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
}
.box div {
	width: 100px;
	height: 20px;
	position: absolute;
	top: 50%;
	left:50%;
	margin-top: -10px;
	margin-left: -50px;
	text-align: center;
	font-family: 'Roboto';
}
.contenedor  h1:nth-child(2){
 	color: #868681;
 	margin-left:15px;
 	margin-bottom: 15px;
}
.contenedor p:nth-child(3) {
	color: #C9C9C7;
	margin-left: 25px;
	margin-bottom: 10px;
}
.contenedor a:last-child {
	background: #FFB942;
	color: white;
	padding: 5px 20px;
	position: relative;
	left: 50%;
	margin-left: -54px;
}
footer {
	padding: 20px 0 50px;
	background: #262624;
}
footer .container-fluid p {
	color: white;
	font-size: 18px;
}